

 .table_habitats {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 5vh;
 }
.cards_habitats {
   
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: lightgreen;
}
