 /*navbar */
 header{
  display: flex;
   
    background-size: calc(100%) calc(100% );
    object-fit: cover;
    background-position: center;
    height: 55vh;
    background-image: url('/uploads/annimal\ 1_20250311_204253.jpg');
    
   
   
  }

  .img_header {
    background-image: url('/templates/uploads/hipopotame.webp');
    background-size: calc(100%) calc(100% );
    object-fit: cover;
    background-position: center;
   
    
  }

  .title_zoo {

    font-style: italic;
    font-weight: bold;
    font-size: 2em;
    text-decoration: none;
    color: #EDB20F;
    margin-left: 50px;
    margin-top: 2vh;
    height: 25px;
  
  }


  nav {
  margin: auto;
    margin-top: 2vh;
    color: white;
    
  }
 

  
  nav ul  {
    display: flex;
    font-size: 1.5em;
    
    list-style-type: none;
    
  }

  .link-item {
    color: #EDB20F;
    font-weight: bold;
    text-decoration: none;
    margin-left: 15px;
    
  }

  

    

  
   