carroussel

.logo_header{

    margin-left: 20px;
    border-radius: 50%;
}

  img {
    display: block;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container-carrousel {
    --widthItem: 150px;
    --heightItem: 100px;
    width: var(--widthItem);
    height: var(--heightItem);
    perspective: 1000px;
  }
  
  .carrousel {
    --rotatey: 0;
    font-size: 4rem;
    position: relative;
    transform: rotatey(var(--rotatey));
    transform-style: preserve-3d;
    
    cursor: grab;
  }
  
  .carrousel-item {
    opacity: 0.5;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: opacity 0.5s;
  }
  
  .carrousel-item:hover {
    opacity: 1;
  }
  
  .carrousel,
  .carrousel-item {
    width: 100%;
    height: 100%;
  }
  
  .carrousel-item:nth-child(1) {
    --rotatey: 0;
    transform: rotatey(var(--rotatey)) translatez(var(--tz));
    background-image: url(../../assets/images/long-neck-giraffe-surrounded-by-grass-plants-zoo.jpg);
  }
  
  .carrousel-item:nth-child(2) {
    --rotatey: 0;
    transform: rotatey(var(--rotatey)) translatez(var(--tz));
    background-image: url(../../uploads/uploadscar-3126964_1280.jpg );

  }
  
  .carrousel-item:nth-child(3) {
    --rotatey: 0;
    transform: rotatey(var(--rotatey)) translatez(var(--tz));
    background-image: url(../../uploads/uploadscar-3126964_1280.jpg);  
    
  }
  .carrousel-item:nth-child(4) {
    --rotatey: 0;
    transform: rotatey(var(--rotatey)) translatez(var(--tz));
    background-image: url(../../uploads/uploadsannimal\ 1.jpg);
  }
  
  .carrousel-item:nth-child(5) {
    --rotate: 0;
    transform: rotatey(var(--rotatey)) translatez(var(--tz));
    background-image: url(https://picsum.photos/600/400?random=5);
  }
  
  .carrousel-item:nth-child(6) {
    --rotatey: 0;
    transform: rotatey(var(--rotatey)) translatez(var(--tz));
    background-image: url(https://picsum.photos/600/400?random=6);
  }

  
  
  @media screen and (min-width: 576px) {
    .container-carrousel {
    --widthItem: 250px;
    --heightItem: 200px;
    }
  }
  
  

  .show{
    
    margin-left: 35vw;
    text-align: center;
    width: 600px;
    border:2px solid blue;
    border-radius: 8px;

  }

  .form-create{

    border:2px solid;
    padding: 20px;
    width: 40vw;
    margin-left: 35vw;
  }

  .create-nom-habitat{

    margin-bottom: 10px;
    margin-left: 50px;
  }

  .selected {
     
    color: yellow;

  }.img_animal{

    width: 300px;
    height: 300px;
    margin-left: 20px;
    margin-top: 20px;
    rotate: 45deg;
    
  }

  .table_animal{
    
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    width: 50vw;
    margin-left: 30%;
    
  }

  /*  dropdpwn */

  body {
    background: #DF5D0C;
    font-family: "Raleway", sans-serif;
    color: ivory;
    font-size: 20px;
  }
  

  nav {
    margin: auto;
    margin-top: 40px;
    position: relative;
    width: clamp(320px, 50vw ,100%);
  }
  
  nav h2 {
    font-size: 1.5rem;
    border-radius: 2px;
    position: relative;
    background: tomato;
    height: 40px;
    text-transform: uppercase;
    margin-bottom: 0;
    color: inherit;
    font-weight: 200;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 20px -2px rgba(0, 0, 0, 0.35);
    transition: all 0.4s;
  }
  
  nav:hover h2 {
    transform: translateY(-2px);
    box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 0.35);
    
  }
  
  #toggle {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    opacity: 0;
    cursor: pointer;
    height: 40px;
  }
  
  h2::before{
    position: absolute;
    right: 0;
    top: 0;
    height: inherit;
    aspect-ratio: 1;
    background: currentColor;
    display: flex;
    align-items: center;
    padding-right: 1rem;
    content: "";
    clip-path: polygon(50% 25%, 20% 80%, 80% 80%);
    transform: rotate(180deg) scale(0.75);
  }
  
  #toggle:not(:checked) ~ h2::before {
    transform: rotate(0deg) scale(0.75);
  }
  
  #toggle:focus ~ h2{
    background: mediumorchid;
    transition: background 0.45s;
  }
  
  #toggle:checked ~ ul {
    visibility: hidden;
    opacity: 0;
  }
  
  #toggle:not(:checked) ~ ul {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }
  
  
  nav ul {
    padding-left: 0;
    padding-top: 1rem;
    margin-top: 0;
  
    list-style: none;
    overflow: hidden;
    text-align: right;
    text-align: center;
    transition: all 0.4s ease-out;
    width: 100%;
  }
  nav ul li {
    border-radius: 2px;
    position: relative;
    display: inline-block;
    line-height: 1.5;
    width: 100%;
    color: #D9E327;
    margin: 0 0 0.25rem 0;
    transition: background 3s;
    box-shadow: 2px 2px 10px -2px rgba(0, 0, 0, 0.35);
  }
  
  nav ul li:hover,
  nav ul li a:focus {
    background: mediumorchid;
    transition: background 0.45s;
    
  }
  
  nav ul a {
    display: block;
    color: black;
    text-transform: lowercase;
    font-weight: 200;
    text-decoration: none;
  }
  
  
  .container {
    max-width: 55ch;
    margin: auto;
    color: #36454F;
  }

  .title-zoo{
    margin-left: 20px;
  }

 